<div class="navbar-fixed">
      <nav >
       <div class="c8e6c9 green lighten-4 width-50px ">
            <a href="/" class="brand-logo  divblanding black-text font-bold bold navbar-fixed">F <span class="red-text">OO</span> D</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="hide-on-med-and-down landing-ul">
            <li><a href="" class="black-text font-bold bold hovered">Menu</a></li>
            <li><a href="/about-us" class="black-text font-bold bold hovered">About</a></li>
            <li><a href="" class="black-text font-bold bold hovered">Orders</a></li>
            <li><a href="/contactus" class="black-text font-bold bold hovered">Contact</a></li>

        <div>
            <a href="/login" class="btn button-radius">Login</a>
            <a href="/signup" class="btn button-radius">Signup</a>
        </div>

      </ul>

    </div>
  </nav>
  </div>