    {{!-- <section>
        <div class="content">
            <i class="fa-brands fa-facebook white-text"></i>
            <i class="fa-brands fa-instagram white-text"></i>
            <i class="fa-brands fa-twitter white-text"></i>
            <i class="fa-brands fa-linkedin white-text"></i>
            <i class="fa-brands fa-youtube white-text"></i>

        </div>

        <div style="width: 100%">
            <hr class="solid">
        </div>

        <div>

        </div>
    </section> --}}

    <div style="margin-bottom: 50px;">
        <h3 style="text-align: center; margin-top: 150px; margin-bottom: 100px; margin-left: 100px"  >How it Works</h3>
        <div class="about-flex">
                <div>
                <i class="material-icons green-text" style="font-size: 50px">search</i>
                <h5 style="font-size: 30px;" >1. Search</h5>
                <p>Search for restaurants, cuisines with the automatic advance location detection search option.</p>
            </div>
            <div>
                <i class="material-icons green-text" style="font-size: 50px">shopping_cart_checkout</i>
                <h5 style="font-size: 30px;">2. Order & Pay</h5>
                <p>Order delicious meal & Pay with Card or Bank transfer through our secure Payment Gateway</p>
            </div>
            <div>
                <i class="material-icons green-text" style="font-size: 50px">room_service</i>
                <h5 style="font-size: 30px;">3. Delivery or Pick-up</h5>
                <p>Have your meal delivered Hot & Fast or Self-pick. Enjoy your meal!</p>
            </div>
        </div>
    </div>