<div>
    <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79942.45784069314!2d3.379035572537767!3d6.45776216761383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf4cc9b07cf55%3A0xc4ae10b395418b9b!2sLagos%20Island!5e0!3m2!1sen!2sng!4v1680085840650!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>

    <div style="display: flex;"   >

        <div>
           <h2 style="font-size: 35px; font-weight: 700">Locations</h2>

           <div  class="contactflex">
             <div style="margin-right: 100px; margin-left:  10px">
               <h4 style="font-size: 20px; font-weight: 700; color: #78bb7c">Nigeria</h4>
               <p>22, Montgomery Road, <br>  Yabaconn Valey,Yaba,  <br> LagosNigeria.</p>
               <p style="margin-top: 40px;">Phone  : +234 700 4000 100</p>
               <p>Email  : enquiries@kwikfood.ng</p>
             </div>
             <p style="border: 1px solid rgb(70, 69, 69); height: auto" ></p>
             <div style="margin-left: 100px;">
              <h4 style="font-size: 20px; font-weight: 700; color: #78bb7c">Germany</h4>
              <p>Bergisch Gladbacher Str. 1103 <br> 51069, Köln <br>  Nordrhein Westfalen <br>  Germany.</p>
              <p>Phone : +49 221 2929 5400</p>
              <p>Email : enquiries@kwikfood.ng</p>
             </div>
           </div>

           <div style="margin-left: 5px;">
            <h1 style="font-size: 30px; font-weight: 600"   >Contact our Legal Department</h1>
            <p>If you need to contact KwikFood regarding an intellectual property matter, please refer to our Copyright and <br> Intellectual Property Policy. This document outlines the information required for reporting infringement and the ways to submit it.</p>

            <h5 style="font-weight: 600; color:grey">Contact Support</h5>
            <p>Have a question for KwikFood Support? First, reach out to the FAQ Page. <br> If you're unable to find what you're looking for, contact us via filling the contact us form <br> or send an email to enquiries@kwikfood.ng</p>
           </div>
        </div>

        <div>

          <form action="/auth/contactus" method="POST" class="contactusform">
             <h1>Send Us A Message</h1>

            <div class="input-field col s12">

            <input id="fullname" name="fullname"  type="text"  class="validate">
            <label for="fullname">Enter Full Name</label>
            </div>


            <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Email</label>
            </div>

            <div class="input-field col s12">
            <input id="subject" type="text"  name="subject" class="validate">
            <label for="subject">Subject</label>
            </div>

            <div class="input-field col s12">
                <label for="body">Message / Comment</label>
                <textarea id="body" name="body" class="validate" style="padding-top: 20px;"></textarea>

            </div>

            <div class="row center">
                <input type="submit" value="submit" class="signup-btn">
            </div>
    </form>
        </div>
    </div>
</div>