<form id="search-form">
      <label for="user-id-input">User ID:</label>
      <input type="text" id="user-id-input" name="user-id">
      <button type="submit">Search</button>
    </form>
    <div id="dashboard" style="width: 100%; height: 300px" >
      <!-- The search results will be displayed here -->
  </div>

 