<div class="c8e6c9 green lighten-4">
    <div class="navbar-fixed">


    <nav >
    <div class="c8e6c9 green lighten-4 width-50px">
      <a href="#!" class="brand-logo  divblanding black-text font-bold bold ">FOOD</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="hide-on-med-and-down landing-ul">
        <li><a href="" class="black-text font-bold bold hovered">Menu</a></li>
        <li><a href="" class="black-text font-bold bold hovered">About</a></li>
        <li><a href="collapsible.html" class="black-text font-bold bold hovered">Orders</a></li>
        <li><a href="mobile.html" class="black-text font-bold bold hovered">Contact</a></li>

        <div>
            <a href="/login" class="btn button-radius">Login</a>
            <a href="/signup" class="btn button-radius">Signup</a>
        </div>

      </ul>

    </div>
  </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Menu</a></li>
        <li><a href="badges.html" class="black-text">About</a></li>
        <li><a href="collapsible.html">Orders</a></li>
        <li><a href="mobile.html">Contact</a></li>
  </ul>

        <div class="container landing-grid" style="height: 1000px; margin-top: 50px">
        <div class="">
            <h1>Let's now Shop <br> For daily food <br> & neccessary</h1>
            <p class="blue-grey-text lighten-2">We are trusted grocery and Food shop you can buy <br> your neccessary products by using your phone.</p>
            <a href="/dashboard" class="btn button-radius red white-text">Shop Now</a>
            <a href="/" class="btn button-radius transparent black-text"><i class="material-icons">cloud_off</i>  Dowload for IOS <br> </a>
        </div>
        <div>
            <img src="/imgs/Preview_Image_1-removebg.png"  style="margin-left: 120px;"  class="landingimg" alt="">
        </div>
        </div>
</div>