<div class="c8e6c9 green lighten-4">

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Menu</a></li>
        <li><a href="badges.html" class="black-text">About</a></li>
        <li><a href="collapsible.html">Orders</a></li>
        <li><a href="mobile.html">Contact</a></li>
  </ul>

        <div class="container landing-grid" style="height: 1000px; margin-top: 0px">
        <div class="">
            <h1>Let's now Shop <br> For daily food <br> & neccessary</h1>
            <p class="blue-grey-text lighten-2">We are trusted grocery and Food shop you can buy <br> your neccessary products by using your phone.</p>
            <a href="/dashboard" class="btn button-radius red white-text">Shop Now</a>
            <a href="/" class="btn button-radius transparent black-text"><i class="material-icons">cloud_off</i>  Dowload for IOS <br> </a>

            <div class="review">
                <div class="review-grid">
                  <img src="/imgs//photo_2023-03-17_10-10-51.jpg" class="review-img" style="width: 40px;"   alt="">
                  <img src="/imgs/photo_2023-03-17_10-11-29.jpg" class="review-img" alt="">
                  <img src="/imgs/photo_2023-03-17_10-11-29.jpg" class="review-img" alt="">
                </div>

                <div style="margin-top: 1px">
                   <h6>Our Happy Customer</h6>
                   <p> <i class="material-icons" style="padding-top: 0px;">star</i>4.8 <span class="red-text">(12.5k Review)</span> </p>
                </div>
            </div>
        </div>
        <div>
            <img src="/imgs/Preview_Image_1-removebg.png"  style="margin-left: 170px;"  class="landingimg" alt="">
        </div>
        </div>
</div>