<div class="container-2">
  <h3 style="text-align: center;"></span> F <span class="green-text lighten-1 center">OO</span> D</h3>
  <h6 style="text-align: center;">Welcome!</h6>

    <form action="/auth/login" method="POST" style="margin-left: 40px; margin-right: 40px">

        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">password</i>
          <input id="password" type="password"  name="password" class="validate">
          <label for="password">Password</label>
        </div>

       <div class="row center">
            <input type="submit" value="Login" class="signup-btn">
        </div>
    </form>
    <div>
  <p style="text-align: center;" class="grey-text"  >Don't have an account? <a href="signup" class="green-text lighten-4" >Register</a>   </p>

    <div class="">
      <div class="divider-1" style="text-align: center;">
      <hr>
     <p style="margin: 0px 5%;"  >OR</p>
      <hr>
    </div>
    <div class="google">
        <a href="/auth/google" class="btn red darken-1 google">
         <i class="fab fa-google left"></i> Log in with google
        </a>
    </div>

  </div>
  </div>

</div>