<div class="container-2">
    <h3 style="text-align: center;"></span> F <span class="green-text lighten-1 center">OO</span> D</h3>
    <h5>Sign Up</h5>

    <form action="/auth/signup" method="POST" style="margin-left: 40px; margin-right: 40px">

        <div class="input-field col s12">
         <i class="material-icons prefix">account_circle</i>

          <input id="firstName" name="firstName"  type="text"  class="validate">
          <label for="firstName">First Name</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="lastName" name="lastName"  type="text"  class="validate">
          <label for="lastName">Last Name</label>
        </div>


        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>

        {{!-- <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="username" name="username" type="text" class="validate">
          <label for="username">username</label>
        </div> --}}

        {{!-- <div class="input-field col s12">
          <i class="material-icons prefix">image</i>
          <input id="image" name="image" type="file" class="validate">
        </div> --}}

        <div class="input-field col s12">
          <i class="material-icons prefix">password</i>
          <input id="password" type="password"  name="password" class="validate"
           {{!-- pattern="^(?=. */d) (?=. *[a-z]) (?=. *[A-Z]) (?=. *[a-zA-Z]). {8,}$"
           minlength="5" maxlength="8" --}}
          >
          <label for="password">Password</label>
        </div>

       <div class="row center">
            <input type="submit" value="SIGNUP" class="signup-btn">
        </div>
    </form>

    <div class="">
      <div class="divider-1" style="text-align: center;">
      <hr>
     <p style="margin: 0px 5%;"  >OR</p>
      <hr>
    </div>
    <div class="google">
        <a href="/auth/google" class="btn red darken-1 google">
         <i class="fab fa-google left"></i> Log in with google
        </a>
    </div>
  <p style="text-align: center;" class="grey-text"  >Got an account already? <a href="login" class="green-text lighten-4" >Log in</a>   </p>


</div>