
.divblanding{
    margin-left: 50px;
}
.landing-ul{
    margin-left: 30%;

}
.landing-ul > li:hover{
    border-bottom: 4px orange double     !important;
    background:none !important;
}
.landing-ul > div {
    margin-left: 60%;
}
.font-size{
    font-size: 20px;
}
.bold{
    font-weight: 600;
}
.button-radius{
  border-radius: 40px
}
.width-50px{
    height: 100px;
}

.hovered:hover{
    border-bottom: 5px solid orange;
    background-color: inherit;
}
.landingimg{
    width: 400px;
    height: 600px;
}
.landing-grid{
    display: grid;
  grid-template-columns: 400px 600px;
  align-content: space-between;
}
.review{
    display: grid;
    grid-template-columns: 80px auto;
    margin-top: 100px;
}
.review-img{
    width: 35px;
    border-radius: 400px;
    border: 3px solid white;
}
.review-grid{
    display: grid;
    grid-template-columns: 20px 20px 20px;
    margin-top: 10px;
}
