body{
   margin: 0;
   padding: 0;
   background-color: #eff3ef;
}
.divblanding{
    margin-left: 50px;
}
.landing-ul{
    margin-left: 30%;

}
.landing-ul > li:hover{
    background:none !important;
}
.landing-ul > div {
    margin-left: 60%;
}
.font-size{
    font-size: 20px;
}
.bold{
    font-weight: 600;
}
.button-radius{
  border-radius: 40px
}
.width-50px{
    height: 70px;
}

.hovered:hover{
    border-bottom: 5px solid rgb(12, 12, 12);
    background-color: inherit;
}
.landingimg{
    width: 400px;
    height: 600px;
}
.landing-grid{
    display: grid;
  grid-template-columns: 400px 600px;
  align-content: space-between;
}
.review{
    display: grid;
    grid-template-columns: 80px auto;
    margin-top: 100px;
}
.review-img{
    width: 35px;
    border-radius: 400px;
    border: 3px solid white;
}
.review-grid{
    display: grid;
    grid-template-columns: 20px 20px 20px;
    margin-top: 10px;
}
.header{
    font-size: 35px;
}
.container-2{
   width: 35%;
   margin-left: 420px;
   border: 1px solid #f6f8f3;
   margin-top: 50px;
   border-radius: 30px;
   background-color: #f5f8f5;
   font-family: 'Comme', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
padding: 0px 20px;

}

.container-2 > h6{
    margin-bottom: 50px;
    color: #2e7d32;
    font-weight: 600;
    font-size: 19px;
}
.container-2 > h3{
    margin-top: 15px;
    font-weight: 600;
    font-size: 40px;
    color: #363636;
    margin-bottom: 30px;
    margin-top: 50px;
}

.container-2 > h5{
    font-weight: 600;
    font-size: 25px;
    color: #363636;
    text-align: center;
    margin-bottom: 50px;
}
.editcontainer{
  margin-left: 230px;
  margin-top: 20px;

font-family: 'Comme', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}

.edit-save{
  display: flex;
 justify-content:flex-end;
 margin-right: 50px;

}

.edit-save > a{
  border: 1px solid #a3dda6;;
  padding: 5px 18px;
  border-radius: 5px;
}
.editcontainer > a{
  margin-top: 20px;
  color: rgb(171, 169, 169);
  font-size: 26px;

}

.editcontainer > form{
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  display: flex;
  width: 1000px;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.edit-firstside{
  padding-top: 30px;

  padding-left: 60px;
  padding-right: 60px;
}
.edit-firstside >img{
  border-radius: 100px;
  margin-left: 33px;
  width: 100px;
}

.edit-firstside > h4{
  text-align: center;
}

.edit-firstside > p{
  font-size: 13px;
  color: rgb(192, 189, 189);
}

.edit-secondside{
  margin-top: 20px;
}
.edit-secondside > div {
  margin-top: 50px;
}
.google{
    margin-left: 35px;
    margin-bottom: 20px;
    width: 270px;
    border-radius: 50px;
}
.signup-btn{
    width: 100px;
    border-radius: 70px;
    background-color: #64af67;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 160px;

    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-left: 10px;
}
.signup-btn:hover{
    background-color: #a3dda6;
    color: white;
}
.divider-1 {
    display: flex;
    align-items: center; /* vertically center the text */
    text-align: center;
    margin: 0px 41px;
    margin-bottom: 20px;
  }

  .divider-1 hr {
    flex-grow: 1; /* make the hr fill the remaining space */
    border: none;
    border-top: 1px solid #ccc; /* add a horizontal line */}

/* aboutus */
/* .headerr{
    background-image: url('../imgs/photo_2023-03-17_10-11-29.jpg');
    height: 200px;
    width: 100%;
    margin-top: 0%;
    background-repeat: no-repeat;
  background-position: right top;
} */
/* section{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;
}
section i{
    padding-left: 40px;
}
section .content{
    padding-left: 20px;
    padding-top: 15px;
    z-index: 1;
    position: absolute;
}

section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../imgs/photo_2023-03-17_10-11-29.jpg') no-repeat center fixed;
    background-size: 1000px 600px;
    opacity: 0.9;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    transform: scaleX(2.5);
}
section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:  black;
    opacity: 0.7;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    transform: scaleX(2.5);
}
hr.solid {
    z-index: 1;
    position: absolute;
    border-top: 1px solid #0f0f0f;
    margin-top: 50px;
    width: 100%;
  } */

.about-flex{
    display: flex;
    margin-left: 10px;
    margin-right: 50px;
    text-align: center;
}
.about-flex div p{
 font-weight: 700;
 color: #5e5e5e;
}
.about-flex div h5{
    font-weight: 700;
}

.contactflex{
    display: flex;
    text-align: left;
}

.contactusform{
    border: 3px solid rgb(239, 237, 237);
    padding: 0px 20px;
    margin-left: 0px;
    margin-right: px;
    width: 500PX;
}

.contactusform h1{
  font-size: 30px;
  font-weight: 700;
}
.dashboardpartial{
    display: flex;
    text-align: center;
    line-height: 0px;
    padding-left: 10px;
    justify-content: space-around;

}
.dropdownnor{
    color: black;

    margin-left: 50px;
}
.dropdownnor:active{
    color: #66bb6a;
}
.dropdownnor:hover{
    color: #66bb6a;
}
.dropdown-content-2ND{
    text-align: center;
}
.profile-container{
    border: 1px solid rgb(255, 255, 255);
    width: 1000px;
    height: 120px;
    margin-top: 10px;
    background-color: white;
    margin-left: 220px;
    border-radius: 10px;
    display: flex;
    font-family: 'Comme', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
.profile-img{
  margin: 15px ;
  border-radius: 10px;
  width: 70px;
}
.after-profile-container{
  margin-left: 10px;
  margin-top: 17px;
}
.right-line-divider{
  border-right: 3px solid rgb(213, 209, 209);
  margin-left: 7%;

}
.adminaccessdropdown{

  min-width: 150px;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
}
.adminaccessdropdown > a{
  color: black;
}
.adminaccessdropdown:hover{
  background-color: #e8eded;

}
.adminaccessdropdown > a:hover{
  color: #538d56;
  text-decoration: underline;

}
.editprofile{
  border: 1px solid #388e3c;
  background-color: #388e3c;
  color: white;
  text-align: center;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  margin-top: 50px;
  margin-left: 10px;

}
.editprofile:hover{
  background-color: #41a748;
}
.footerr {

    margin-top: 100px;
  }
  .for-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: rgb(251, 248, 248);
    margin-left: 200px;


  }

  .product-container{
     border: 1px solid grey;
     background-color: rgb(226, 219, 219);
     border-radius: 10px;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0px;
    height: 220px;
    padding: 20px;
  }


  .product-container> h2{
    font-size: 20px;

  }
  .add-product-container{
    margin: 70px;
    border: 1px solid rgb(226, 219, 219);
    background-color: rgb(226, 219, 219);
    padding: 50px;
    border-radius: 20px;

  }
  .add-product-container > h3{
    text-align: center;
  }
  .category-dropdown{
    border: 1px solid rgb(168, 165, 165);
    background-color: rgb(168, 165, 165);
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-family: 'Comme', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;


  }
  .category-dropdown > a{
    border: 1px solid rgb(229, 228, 228);
    background-color: rgb(229, 228, 228);
    padding: 10px 30px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
  }
  .category-dropdown > a:hover{
    background-color: rgb(250, 249, 249);
    color: #388e3c;
  }
  .category-dropdown >div>a{
    color: black;
  }
  .category-image{
    width: 50px;
    border-radius: 5px;
  }

  /* Style the sidenavbar */
.sidenavv {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #388e3c;
    overflow-x: hidden;

  }

  .sidenavv > h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;

  }

  /* Style the links inside the sidenavbar */
  .sidenavv a {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-decoration: none;
    font-size: 17px;

    color: white;
    font-family: 'Comme', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  .sidenavv > a:hover{
    background-color: rgb(241, 238, 238);
    color: #388e3c;
  }

  .iconn{
    margin-right: 20px;
    margin-left: 20px;
  }

  /* Style the main content */
  .mainn {
    margin-left: 200px; /* Same as the width of the sidenavbar */
    background-color: rgb(223, 220, 220);
  }

  /* Style the page title */
  .mainn h1 {
    font-size: 36px;
    margin-top: 0;
  }
  .aftermainn{
    background-color: white;

    height: 70px;
    margin-bottom: 10px;

    display: flex;
  }
  .aftermainn > img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    margin-left: 600px;
    margin-top: 15px;
    margin-right: 10px;
  }

  .aftermainn > p >span{
    color: #707171;
  }
  .dashboardlogo{
    color: rgb(52, 51, 51);
    font-family: 'Comme', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
    margin-top: 20px;
  }

  .form-submitted{
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    animation: fadein 5s ease-in-out;
  }
  /* .form-submitted{

  } */

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
